.form {
  width: 420px;
  background-color: whitesmoke;
  padding: 20px 30px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.titleForm {
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
}

.formLabel {
  position: relative;
  width: 100%;
  height: 45px;
  display: flex;
}

.formLabel input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  padding-left: 15px;
  font-size: 15px;
  transition: all 0.3s;
}

.formLabel input:focus {
  border-color: #27a360;
  box-shadow: inset 0 0 3px #2fd072;
}

.btnShow {
  position: absolute;
  right: 10px;
  top: 50%;
  text-transform: uppercase;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.indicator {
  display: flex;
  height: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.indicator span {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  border-radius: 5px;
  position: relative;
}

.indicator span:nth-child(2) {
  margin: 0 3px;
}

.indicator span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: background-color ease-in 0.3s;
}

.red::before {
  background-color: red;
}

.orange::before {
  background-color: orange;
}

.green::before {
  background-color: green;
}
