<form class="form">
  <p class="titleForm">Password Strength Indicator</p>
  <label class="formLabel" for="password">
    <input
      id="password"
      [type]="passwordFieldType"
      placeholder="Enter your password..."
      (input)="checkPasswordStrength($event)"
    />
    <span class="btnShow" (click)="togglePasswordVisibility()">
      {{ passwordFieldType === "password" ? "Show" : "Hide" }}
    </span>
  </label>
  <div class="indicator">
    <span [class]="getClass(1)"></span>
    <span [class]="getClass(2)"></span>
    <span [class]="getClass(3)"></span>
  </div>
</form>
